Budgets

Quotas

RBAC Control (users)

Governance and Policies

Resources Deployment (Manually vs Pulumi)

Naming Conventions

Regions

Observability

Networking

Public IPs

Whitelisted IPs

VNET Peering (Subscription to Subscriptionb or Group)

FQDN (Fully Qualified Domain Name)

DNS

VPN Dependencies / Site to Site

Status (In Use vs Scheduled for Deprecation)

What is in use and not in use for the last X amount of time (TBD)